<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Workshop</title>
</head>

<body>
<h2>Home Page</h2>
<hr>


<h4>Welcome</h4>

<hr>

<hr>


<div>
<tr th:each="orderWorkshopDataIterator : ${orderWorkshopDataList}">


        <td th:text="${orderWorkshopDataIterator.description}"/>
        <td th:text="${orderWorkshopDataIterator.creationDate}"/>
        <td th:text="${orderWorkshopDataIterator.carData.marque}"/>
        <td th:text="${orderWorkshopDataIterator.carData.model}"/>
        <td th:text="${orderWorkshopDataIterator.carData.year}"/>
        <td th:text="${orderWorkshopDataIterator.carData.engineType}"/>
        <td th:text="${orderWorkshopDataIterator.carData.registrationNumber}"/>
        <td th:text="${orderWorkshopDataIterator.carData.vin}"/>
        <td th:text="${orderWorkshopDataIterator.employeeDetailData.firstName}"/>
        <td th:text="${orderWorkshopDataIterator.employeeDetailData.lastName}"/>
        <td th:text="${orderWorkshopDataIterator.employeeDetailData.phoneNumber}"/>
        <td th:text="${orderWorkshopDataIterator.employeeDetailData.email}"/>


        <br><br>

</tr>
</div>
<br><br><br>

<hr>

<!-- Add a logout button -->
<form th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" />

</form>

</body>

</html>









