<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Workshop</title>
</head>

<body>
<h2>Home Page</h2>
<hr>


<h4>Welcome</h4>

<hr>

<hr>


div>
<tr th:each="orderWorkshopDataIterator : ${orderWorkshopDataList}">


        <td th:text="${orderWorkshopDataIterator.description}"/>
        <td th:text="${orderWorkshopDataIterator.creationDate}"/>
        <td th:text="${orderWorkshopDataIterator.carData.marque}"/>
        <td th:text="${orderWorkshopDataIterator.carData.model}"/>
        <td th:text="${orderWorkshopDataIterator.carData.year}"/>
        <td th:text="${orderWorkshopDataIterator.carData.engineType}"/>
        <td th:text="${orderWorkshopDataIterator.carData.registrationNumber}"/>
        <td th:text="${orderWorkshopDataIterator.carData.vin}"/>
        <td th:text="${orderWorkshopDataIterator.employeeDetailData.firstName}"/>
        <td th:text="${orderWorkshopDataIterator.employeeDetailData.lastName}"/>
        <td th:text="${orderWorkshopDataIterator.employeeDetailData.phoneNumber}"/>
        <td th:text="${orderWorkshopDataIterator.employeeDetailData.email}"/>


        <br><br>
        <form th:action="@{/workshop/processOrderChoose}" th:object="${orderAnswerData}"
          method="POST"
          class="form-horizontal">

            <input type="hidden" th:value="${orderWorkshopDataIterator.orderAnswerId}" name="orderAnswerId"/>

        <!-- Implementation date -->
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="date" th:value="*{implementationDate}" th:field="*{implementationDate}" placeholder="implementation date (*)" class="form-control" />
        </div>

        <div th:if="${#fields.hasErrors('implementationDate')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('implementationDate')}" th:text="'implementationDate ' + ${err}" />
            </ul>
        </div>


        <!-- price -->
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="number" th:field="*{price}" placeholder="price (*)" class="form-control" />
        </div>
        <div th:if="${#fields.hasErrors('price')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('price')}" th:text="'price ' + ${err}" />
            </ul>
        </div>
        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">submit order</button>
            </div>
        </div>
    </form>
</tr>
</div>
<br><br><br>

<hr>

<!-- Add a logout button -->
<form th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" />

</form>

</body>

</html>









