<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Workshop</title>
</head>

<body>
<h2>Home Page</h2>
<hr>


<h4>Welcome<h2 th:text="${loggedEmployeeDetail.firstName}"/></h4>

<hr>

<hr>
<!--мапінг на createOrder-->
<div>
    <a th:href="@{/employee/showCreateOrderForm}" class="btn btn-primary" role="button" aria-pressed="true">Create order</a>
    <!-- мапінг на контроллер з addCar  -->
</div>
<!--мапінг на show my order-->
<div>
    <a th:href="@{/employee/showOrderList}" class="btn btn-primary" role="button" aria-pressed="true">Order List</a>
</div>
<!-- мапінг на контроллер з addCar  -->
<div>
    <a th:href="@{/employee/showAddCarForm}" class="btn btn-primary" role="button" aria-pressed="true">Add car</a>
</div>

<!--мапінг на options-->
<div>
    <a th:href="@{/employee/showOption}" class="btn btn-primary" role="button" aria-pressed="true">options</a>
</div>
<!--мапінг на showMyCar-->
<div>
    <a th:href="@{/employee/showCarList}" class="btn btn-primary" role="button" aria-pressed="true">Show car</a>
</div>


<br><br><br>

<hr>

</body>

</html>









