<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Workshop</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 justify-content-between w-100">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/employee/dashboard}">Home</a>
                </li>
                <div class="center-links d-flex">
                    <li class="nav-item">
                        <a th:href="@{/employee/showAddCarToOrderForm}" type="button" class="nav-link" aria-pressed="true">Create order</a>
                        <!-- мапінг на контроллер з формаою реєстрації  -->
                    </li>
                    <div class="divider">
                        |
                    </div>
                    <li class="nav-item">
                        <a th:href="@{/employee/showCompletedOrderList}" type="button" class="nav-link" aria-pressed="true">Archiw order</a>
                    </li>
                    <div class="divider">
                        |
                    </div>
                    <li class="nav-item">
                        <a th:href="@{/employee/showAddCarForm}" type="button" class="nav-link" aria-pressed="true">Add car</a>
                        <!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
                    </li>
                    <div class="divider">
                        |
                    </div>
                    <li class="nav-item">
                        <a th:href="@{/employee/showCarList}" type="button" class="nav-link" aria-pressed="true">Show car</a>
                        <!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
                    </li>
                    <div class="divider">
                        |
                    </div>
                    <li class="nav-item">
                        <a th:href="@{/employee/showOption}" type="button" class="nav-link" aria-pressed="true">Options</a>
                        <!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
                    </li>
                </div>

                <li class="nav-item">
                    <a th:href="@{/login}" type="button" class="nav-link">LogIn</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Place for messages: error, alert etc ... -->
<div class="form-group">
    <div class="col-xs-15">
        <div>

            <!-- Check for registration error -->
            <div th:if="${message}" class="alert alert-success col-xs-offset-1 col-xs-10">
                <span th:text="${message}"></span>
            </div>

        </div>
    </div>
</div>
<section class="order-list">
    <div class="container">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Registration</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Workshop Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Implementation date</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderEmployeeDataIterator : ${orderEmployeeDataList}">
                    <form th:action="@{/employee/processOrderChoose}"
                          th:object="${orderEmployeeData}" method="POST"
                          class="form-horizontal"
                          th:switch="${orderEmployeeDataIterator.orderAnswerDataList.get(0).stan.toString()}">
                        <td class="scope">1</td>
                        <td th:text="${orderEmployeeDataIterator.carData.registrationNumber}"/>
                        <td th:text="${orderEmployeeDataIterator.creationDate}"/>
                        <td th:text="${orderEmployeeDataIterator.description}"/>
                        <div th:case="'IMPLEMENTATION'">
                        <td  th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).workshopData.workshopName}"/>
                        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).workshopData.cityName}"/>
                        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).workshopData.phoneNumber}"/>
                        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).implementationDate}"/>
                        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).price}"/>
                        </div>
                        <div th:case="*">
                            <td/>
                            <td/>
                            <td/>
                            <td/>

                        <td th:if="${orderEmployeeDataIterator.orderAnswerDataList.get(0).stan.toString() != 'UNREGISTERED'}">
                            <input type="hidden" th:value="${orderEmployeeDataIterator.orderId}" name="orderId"/>
                            <button type="submit" class="btn btn-secondary">Oferty</button>
                        </td>
                        </div>
                    </form>
                        <td>
                            <form th:action="@{/employee/deleteOrder}" method="POST">
                                <input type="hidden" th:object="${orderEmployeeData}" th:value="${orderEmployeeDataIterator.orderId}" name="orderId"/>
                                <button type="submit" class="btn btn-secondary">Delete</button>
                            </form>
                        </td>
                </tr>
                </tbody>
                <!--                <div style="margin-top: 10px" class="form-group">-->
                <!--                    <div class="col-sm-6 controls">-->
                <!--                    </div>-->

                <!--                </div>-->
            </table>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>









