<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Workshop</title>
</head>

<body>
<h2>Home Page</h2>
<hr>


<h4>Welcome</h4>

<hr>

<hr>


<div>
    <tr th:each="orderAnswerData : ${orderEmployeeData.orderAnswerDataList}">
        <td th:text="${orderEmployeeData.description}"/>
        <td th:text="${orderAnswerData.workshopData.workshopName}"/>
        <td th:text="${orderAnswerData.workshopData.email}"/>
        <td th:text="${orderAnswerData.implementationDate}"/>
        <td th:text="${orderAnswerData.price}"/>

        <form th:action="@{/employee/processOrderForImplementationChoose}"
               method="POST"
              class="form-horizontal">
            <input type="hidden" th:value="${orderAnswerData.orderAnswerId}" name="orderAnswerId"/>
            <div style="margin-top: 10px" class="form-group">
                <div class="col-sm-6 controls">
                    <button type="submit" class="btn btn-primary">choose order</button>
                </div>
            </div>
        </form>
        <br><br>
    </tr>
</div>

<br><br><br>

<hr>

<!--мапінг на my order list-->
<div>
    <a th:href="@{/employee/showOrderList}" class="btn btn-primary" role="button" aria-pressed="true">my order list</a>
</div>

<!--    мапінг на create order list-->
<div>
    <a th:href="@{/employee/showCreateOrderForm}" class="btn btn-primary" role="button" aria-pressed="true">Create order</a>
    <!-- мапінг на контроллер з addCar  -->
</div>

<!--мапінг на archiw order list-->
<div>
    <a th:href="@{/employee/showCompletedOrderList}" class="btn btn-primary" role="button" aria-pressed="true">archiw order list</a>
</div>


<!--мапінг на dashboard-->
<div>
    <a th:href="@{/employee/dashboard}" class="btn btn-primary" role="button" aria-pressed="true">home</a>
</div>

</body>

</html>









