<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Workshop</title>
</head>

<body>
<h2>Home Page</h2>
<hr>


<h4>Welcome</h4>

<hr>

<hr>


<div>
    <tr th:object="${employeeData}">
        <td th:text="${employeeData.username}" />
        <br>
        <td th:text="${employeeData.firstName}" />
        <br>
        <td th:text="${employeeData.lastName}" />
        <br>
        <td th:text="${employeeData.phoneNumber}" />
        <br>
        <td th:text="${employeeData.email}" />
    </tr>
</div>

<br><br><br>

<hr>


</form>

</body>

</html>









