<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Workshop</title>
</head>

<body>
<h2>Home Page</h2>
<hr>


<h4>Welcome</h4>

<hr>

<hr>


<div>
    <tr th:each="orderEmployeeDataIterator : ${orderEmployeeDataList}">
        <form th:action="@{/employee/processOrderChoose}"
              th:object="${orderEmployeeData}" method="POST"
              class="form-horizontal">

        <td th:text="${orderEmployeeDataIterator.description}"/>
        <td th:text="${orderEmployeeDataIterator.creationDate}"/>
        <td th:text="${orderEmployeeDataIterator.carData.registrationNumber}"/>
        <input type="hidden" th:value="${orderEmployeeDataIterator.orderId}" name="orderId"/>
            <div style="margin-top: 10px" class="form-group">
                <div class="col-sm-6 controls">
                    <button type="submit" class="btn btn-primary">choose order</button>
                </div>
            </div>
        </form>
    </tr>
    <!--    мапінг на create order list-->
    <div>
        <a th:href="@{/employee/showCreateOrderForm}" class="btn btn-primary" role="button" aria-pressed="true">Create order</a>
        <!-- мапінг на контроллер з addCar  -->
    </div>
<!--    мапінг на archiw order list-->
    <div>
        <a th:href="@{/employee/showCompletedOrderList}" class="btn btn-primary" role="button" aria-pressed="true">archiw order</a>
        <!-- мапінг на контроллер з addCar  -->
    </div>

    <!--мапінг на dashboard-->
    <div>
        <a th:href="@{/employee/dashboard}" class="btn btn-primary" role="button" aria-pressed="true">home</a>
    </div>


</div>

<br><br><br>

<hr>



</body>

</html>









