<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Workshop</title>
</head>

<body>
<h2>Home Page</h2>
<hr>


<h4>Welcome</h4>

<hr>
<tr th:object="${employeeData}">
    <td th:text="${employeeData.username}" />
    <br>
    <td th:text="${employeeData.firstName}" />
    <br>
    <td th:text="${employeeData.lastName}" />
    <br>
    <td th:text="${employeeData.phoneNumber}" />
    <br>
    <td th:text="${employeeData.email}" />
</tr>
<hr>
<!--мапінг на showData-->
<div>
    <a th:href="@{/employee/showOption}" class="btn btn-primary" role="button" aria-pressed="true">Show data</a>
    <!-- мапінг на контроллер з addCar  -->
</div>
<!--мапінг на update-->
<div>
    <a th:href="@{/employee/showUpdateForm}" class="btn btn-primary" role="button" aria-pressed="true">Update</a>
</div>
<!-- мапінг на контроллер з change password  -->
<div>
    <a th:href="@{/employee/}" class="btn btn-primary" role="button" aria-pressed="true">change password</a>
</div>
<!--мапінг на delete-->
<div>
    <a th:href="@{/employee/delete}" class="btn btn-primary" role="button" aria-pressed="true">delete account</a>
</div>
<!--мапінг на dashboard-->
<div>
    <a th:href="@{/employee/dashboard}" class="btn btn-primary" role="button" aria-pressed="true">home</a>
</div>

<!-- Add a logout button -->
<form th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" />
</form>
</body>

</html>









