<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Workshop</title>
</head>

<body>
<h2>Home Page</h2>
<hr>


<h4>Welcome</h4>

<hr>

<hr>


<div>
<tr th:each="orderEmployeeDataIterator : ${orderEmployeeDataList}">


        <td th:text="${orderEmployeeDataIterator.description}"/>
        <td th:text="${orderEmployeeDataIterator.creationDate}"/>
        <br>
        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).implementationDate}"/>
        <br>
        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).price}"/>
        <br>
        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).workshopData.workshopName}"/>
        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).workshopData.cityName}"/>
        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).workshopData.address}"/>
        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).workshopData.email}"/>
        <td th:text="${orderEmployeeDataIterator.orderAnswerDataList.get(0).workshopData.phoneNumber}"/>
        <br>
        <td th:text="${orderEmployeeDataIterator.carData.registrationNumber}"/>




        <br><br>

</tr>
</div>
<br><br><br>
<!--мапінг на my order list-->
<div>
        <a th:href="@{/employee/showOrderList}" class="btn btn-primary" role="button" aria-pressed="true"> order list</a>
</div>

<!--    мапінг на create order list-->
<div>
        <a th:href="@{/employee/showCreateOrderForm}" class="btn btn-primary" role="button" aria-pressed="true">Create order</a>
        <!-- мапінг на контроллер з addCar  -->
</div>

<!--мапінг на dashboard-->
<div>
        <a th:href="@{/employee/dashboard}" class="btn btn-primary" role="button" aria-pressed="true">home</a>
</div>
<hr>

</body>

</html>









