<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Workshop</title>
</head>

<body>
<h2>Home Page</h2>
<hr>


<h4>Welcome</h4>

<hr>

<hr>


<div>
    <tr th:each="car: ${cars}">
        <td th:text="${car.model}" />
        <td th:text="${car.marque}" />
        <td th:text="${car.registrationNumber}" />
    </tr>
</div>

<br><br><br>

<hr>

<!-- мапінг на контроллер з addCar  -->
<div>
    <a th:href="@{/employee/showAddCarForm}" class="btn btn-primary" role="button" aria-pressed="true">Add car</a>

</div>
<!--мапінг на dashboard-->
<div>
    <a th:href="@{/employee/dashboard}" class="btn btn-primary" role="button" aria-pressed="true">home</a>
</div>
</body>

</html>









