<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<title>Workshop</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0 justify-content-between w-100">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" th:href="@{/employee/dashboard}">Home</a>
				</li>
				<div class="center-links d-flex">
					<li class="nav-item">
						<a th:href="@{/employee/showOrderList}" type="button" class="nav-link" aria-pressed="true">Order List</a>

					</li>
					<div class="divider">
						|
					</div>
					<li class="nav-item">
						<a th:href="@{/employee/showAddCarForm}" type="button" class="nav-link" aria-pressed="true">Add car</a>
						<!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
					</li>
					<div class="divider">
						|
					</div>
					<li class="nav-item">
						<a th:href="@{/employee/showCarList}" type="button" class="nav-link" aria-pressed="true">Show car</a>
						<!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
					</li>
					<div class="divider">
						|
					</div>
					<li class="nav-item">
						<a th:href="@{/employee/showOption}" type="button" class="nav-link" aria-pressed="true">Options</a>
						<!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
					</li>
				</div>

				<li class="nav-item">
					<a th:href="@{/login}" type="button" class="nav-link">LogIn</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<section class="user-update">
	<div class="container">
		<div class="workshop-form">
			<!-- Registration Form -->
			<form th:action="@{/employee/processUpdateForm}"
				  th:object="${employeeData}" method="POST"
				  class="form-horizontal">
				<legend class="form-legend">Update user data</legend>
				<!-- Place for messages: error, alert etc ... -->
				<div class="form-group">
					<div class="col-xs-15">
						<div>

							<!-- Check for registration error -->
							<div th:if="${updateError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
								<span th:text="${updateError}"></span>
							</div>

						</div>
					</div>
				</div>
				<!-- Old User name and Old Email-->
				<input type="hidden" th:value="${oldUsername}" name="oldUsername">

				<input type="hidden" th:value="${oldEmail}" name="oldEmail">
				<!-- User name -->
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" id="username" th:field="*{username}" placeholder="username (*)" class="form-control" />
				</div>

				<div th:if="${#fields.hasErrors('username')}"
					 style="margin-bottom: 25px" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('username')}" th:text="'User name ' + ${err}" />
					</ul>
				</div>

				<!-- Password -->
				<input type="hidden" th:field="*{password}">

				<!-- Confirm Password -->
				<input type="hidden" th:field="*{matchingPassword}">

				<!-- First name -->
				<div class="mb-3">
					<label for="firstName" class="form-label">First name</label>
					<input type="text" id="firstName" th:field="*{firstName}" placeholder="first name (*)" class="form-control" th:errorclass="fieldError" />
				</div>
				<div th:if="${#fields.hasErrors('firstName')}"
					 style="margin-bottom: 25px" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
					</ul>
				</div>

				<!-- Last name -->
				<div class="mb-3">
					<label for="lastName" class="form-label">Last name</label>
					<input type="text" id="lastName" th:field="*{lastName}" placeholder="last name (*)" class="form-control" th:errorclass="fieldError" />
				</div>
				<div th:if="${#fields.hasErrors('lastName')}"
					 style="margin-bottom: 25px" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
					</ul>
				</div>



				<!-- Email -->
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="text" id="email" th:field="*{email}" placeholder="email (*)" class="form-control" th:errorclass="fieldError" />
				</div>
				<div th:if="${#fields.hasErrors('email')}"
					 style="margin-bottom: 25px" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
					</ul>
				</div>

				<!-- Phone number -->
				<div class="mb-3">
					<label for="phoneNumber" class="form-label">Phone</label>
					<input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="phone number (*)" class="form-control" th:errorclass="fieldError" />
				</div>
				<div th:if="${#fields.hasErrors('phoneNumber')}"
					 style="margin-bottom: 25px" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('phoneNumber')}" th:text="'Phone number ' + ${err}" />
					</ul>
				</div>
				<div class="d-flex justify-content-between">
					<button type="submit" class="btn btn-secondary">Update</button>
					<a th:href="@{/employee/showChangePasswordForm}" class="btn btn-secondary" role="button" aria-pressed="true">Change password</a>
					<!-- мапінг на контроллер з addCar  -->
				</div>

				<!-- Update Button -->

			</form>
		</div>
	</div>
</section>
<!--	<div>-->

<!--		<div id="loginbox" style="margin-top: 50px;"-->
<!--			class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">-->

<!--			<div class="panel panel-primary">-->

<!--				<div class="panel-heading">-->
<!--					<div class="panel-title">Update Employee</div>-->
<!--				</div>-->

<!--				<div style="padding-top: 30px" class="panel-body">-->
<!--					-->

<!--				</div>-->

<!--			</div>-->

<!--		</div>-->

<!--	</div>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>