<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Register New User Form</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Reference Bootstrap files -->
	<link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<style>
		.error {color:red}
	</style>

</head>

<body>

	<div>

		<div id="loginbox" style="margin-top: 50px;"
			class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

			<div class="panel panel-primary">

				<div class="panel-heading">
					<div class="panel-title">Update Employee</div>
				</div>

				<div style="padding-top: 30px" class="panel-body">



					<!-- Registration Form -->
					<form th:action="@{/employee/processUpdateForm}"
						  	   th:object="${employeeData}" method="POST"
						  	   class="form-horizontal">

					    <!-- Place for messages: error, alert etc ... -->
					    <div class="form-group">
					        <div class="col-xs-15">
					            <div>

									<!-- Check for registration error -->
									<div th:if="${updateError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
										<span th:text="${updateError}"></span>
									</div>

					            </div>
					        </div>
					    </div>
						<!-- Old User name and Old Email-->
						<input type="hidden" th:object="${wrapperString}" th:field="*{oldUsername}">

						<input type="hidden" th:object="${wrapperString}" th:field="*{oldEmail}">
						<!-- User name -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" th:field="*{username}" placeholder="username (*)" class="form-control" />
						</div>

						<div th:if="${#fields.hasErrors('username')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('username')}" th:text="'User name ' + ${err}" />
							</ul>
						</div>

						<!-- Password -->
						<input type="hidden" th:field="*{password}">

						<!-- Confirm Password -->
						<input type="hidden" th:field="*{matchingPassword}">

						<!-- First name -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" th:field="*{firstName}" placeholder="first name (*)" class="form-control" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('firstName')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
							</ul>
						</div>

						<!-- Last name -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" th:field="*{lastName}" placeholder="last name (*)" class="form-control" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('lastName')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
							</ul>
						</div>



						<!-- Email -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" th:field="*{email}" placeholder="email (*)" class="form-control" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('email')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
							</ul>
						</div>

						<!-- Phone number -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" th:field="*{phoneNumber}" placeholder="phone number (*)" class="form-control" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('phoneNumber')}"
							 style="margin-bottom: 25px" class="text-danger">
							<ul>
								<li th:each="err : ${#fields.errors('phoneNumber')}" th:text="'Phone number ' + ${err}" />
							</ul>
						</div>
						<div>
							<a th:href="@{/employee/showChangePasswordForm}" class="btn btn-primary" role="button" aria-pressed="true">Change password</a>
							<!-- мапінг на контроллер з addCar  -->
						</div>

						<!-- Update Button -->
						<div style="margin-top: 10px" class="form-group">
							<div class="col-sm-6 controls">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</div>

					</form>

				</div>

			</div>

		</div>

	</div>

	<!--мапінг на dashboard-->
	<div>
		<a th:href="@{/employee/dashboard}" class="btn btn-primary" role="button" aria-pressed="true">home</a>
	</div>

</body>
</html>